
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');


@font-face {
  font-family: "cos";
  src: url("gelasio-medium.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}



body{
  width: 100vw;
  margin: 0 !important;
  left: 0 !important;
  right: 0 !important;
  overflow-y: scroll;
}

  
body::-webkit-scrollbar {
  display: none;
}

  
  #open_menu:hover  {
    color: lightsteelblue;
  }
  
  #open_menu  {
    color: red;
    cursor: pointer;
  }

  .top {
    display: flex;
    height: 40px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
    padding: 1%;
  }
  
  #close-button-navabar:hover  {
    color: lightsteelblue;
  }

  
  
  /*-------------------------------------------*/
  /* ---------Navbar in the UPPER SIDE---------*/
  /*-------------------------------------------*/
  
  #Navbar {
    position: fixed;
    width: 100%;
    height: 40px;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  

  #hidden-part {
    font-family: 'Patua One', cursive;
    height: fit-content;
    width: 100vw;
    display: none;
    position: fixed;
    z-index: 20;
    flex-direction: column;
    background-color: rgb(204, 233, 0);
  }
  
  #close_menu:hover  {
    color: lightsteelblue;
  }
  
  #close_menu  {
    cursor: pointer;
    color: red;
  }
  
  
  #blocks-navbar {
    width: 100vw;
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-items: flex-start;
    flex-wrap: wrap;
    padding: 2%;
    background-color: black;
  }
  
  .link{
    color:white;
  }

  .blocks-select {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 20px;
  
  }

  .blocks-select h1 {
    font-size: x-large;
    margin: 1%;
  }

  .blocks-select div {
    font-size: x-large;
    margin: 1%;
  }

  hr {
    border: 2px black solid;
    width: 100%;
  }


/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-83 { font-size: 168px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }




@media only screen and (max-width: 740px) {




  }

